.breadcrumbs {
   margin-top: 120px;
   background-color: #dfdfdf;

   @media (max-width:767.98px) {
      margin-top: 70px;
   }
}

.breadcrumbs__body {
   @include flex-column-block();
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   justify-content: center;
   height: 55px;
}

.breadcrumbs__links {

   @include flex-row-block();
   -webkit-column-gap: 4px;
   -moz-column-gap: 4px;
   column-gap: 4px;

   a,
   .breadcrumbs__link {
      padding: 3px 0px 0px 0px;
      font-weight: 600;
      font-size: 0.875rem; //14px
      line-height: 200%; //28px
      color: $text-basic-color;

      &:focus,
      &:hover {
         border-bottom: 1px solid $text-title-color;
      }
   }
}