/* ============Header========= */
.header {
   position: absolute;
   width: 100%;
   z-index: 30;
}

.header__row {
   @include flex-row-block();
   height: 120px;

   @media (max-width:767.98px) {
      height: 70px;
   }

}

.header__menu {
   width: 100%;

   .menu {}

   .menu__icon {}

   .icon-menu {
      @media (max-width:767.98px) {
         display: block;
         position: absolute;
         width: 30px;
         height: 24px;
         top: 18px;
         right: 18px;
         cursor: pointer;
         z-index: 3;

         span {
            @include transition();
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 2px;
            background-color: rgba(54, 56, 56, 0.9033);

            &:first-child {
               top: 0;
               width: 70%;
            }

            &:nth-child(2) {
               top: 7px;
            }

            &:nth-child(3) {
               top: 15px;
               width: 70%
            }

            &:last-child {
               top: auto;
               bottom: 0;
            }
         }

         &.active {
            position: fixed;

            span {
               -webkit-transform: scale(0);
               -ms-transform: scale(0);
               transform: scale(0);
               background-color: rgba(54, 56, 56, 0.9033);

               &:first-child {
                  width: 100%;
                  -webkit-transform: rotate(-46deg);
                  -ms-transform: rotate(-46deg);
                  transform: rotate(-46deg);
                  top: calc(50% - 1px);
               }

               &:last-child {
                  -webkit-transform: rotate(46deg);
                  -ms-transform: rotate(46deg);
                  transform: rotate(46deg);
                  top: calc(50% - 1px);
               }
            }
         }
      }
   }

   .menu__body {
      width: 100%;
      height: 100%;

      @media (max-width:767.98px) {
         position: fixed;
         width: 100%;
         height: 40%;
         left: 0;
         top: 0;
         padding: 40px 0 20px 0;
         background-color: #F1D152;
         overflow: auto;
         -webkit-transform: translate(0%, -100%);
         -ms-transform: translate(0%, -100%);
         transform: translate(0%, -100%);
         -webkit-transition: -webkit-transform 0.7s linear;
         transition: -webkit-transform 0.7s linear;
         -o-transition: transform 0.7s linear;
         transition: transform 0.7s linear;
         transition: transform 0.7s linear, -webkit-transform 0.7s linear;
         transition: transform 0.7s linear,
            -webkit-transform 0.7s linear;

         &.active {
            -webkit-transform: translate(0%, 0%);
            -ms-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
         }
      }
   }

   .menu__list {
      @include flex-row-block();
      @include jc-sb__ai-c();
      width: 100%;
      height: 100%;

      @media (max-width:767.98px) {
         @include flex-column-block();
         @include jc-sa__ai-c();
      }

      .menu__list--left,
      .menu__list--right {
         @include flex-row-block();
         -webkit-box-align: center;
         -ms-flex-align: center;
         align-items: center;
         -webkit-column-gap: 80px;
         -moz-column-gap: 80px;
         column-gap: 80px;

         li {
            padding: 12px 0px 0px 0px;
         }

         @media (max-width:767.98px) {
            -webkit-column-gap: 160px;
            -moz-column-gap: 160px;
            column-gap: 160px;
         }
      }
   }

   .menu__link {

      font-family: $font-f-secondary;
      font-style: normal;
      font-weight: 700;
      font-size: 1rem;
      //line-height: 138%; //22px   
      color: rgba(54, 56, 56, 0.9033);

      &::after {
         display: block;
         content: "";
         width: 0;
         height: 2px;
         margin-bottom: 15px;
         background-color: rgba(54, 56, 56, 0.9033);
         @include transition();
      }

      &:hover::after {
         width: 100%;
      }

      &._active::after {
         width: 100%;
      }

      @media (max-width:767.98px) {
         font-size: 1.25rem; //20px
      }
   }
}


.header__logo {}