.hero {
   background: url('../img/index-page/background-hero.jpg') no-repeat;
   //background-position: center;
   background-size: cover;
   height: 720px;
   width: 100%;
   margin-top: calc(80px + (120 - 80) * (100vw - 350px) / (1920 - 350));
   padding-right: calc(50px + (390 - 170) * (100vw - 350px) / (1920 - 350));
   padding-left: calc(50px + (170 - 120) * (100vw - 350px) / (1920 - 350));

   @media (max-width:1510px) {
      height: auto;
      padding-right: 10px;
      padding-left: 10px;
   }
}

.hero__body {
   height: 100%;
}

.swiper {}

.swiper-wrapper {
   margin: 0px 0px 20px 0px;
}

.swiper-slide {}

.swiper-slide__body {
   @include flex-row-block();
   -webkit-box-pack: justify;
   -ms-flex-pack: justify;
   justify-content: space-between;
   height: 100%;

   @media (max-width:767.98px) {
      @include flex-column-block();
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
   }
}

.swiper-slide__picture {
   -webkit-box-flex: 0;
   -ms-flex: 0 1 51.6%;
   flex: 0 1 51.6%;
   position: relative;

   @media (max-width:767.98px) {
      width: 80%;
   }

   @media (max-width:575.98px) {
      width: 90%;
   }

   @media (max-width:1190px) {
      width: 48%;
   }

   img {
      width: inherit;

      @media (max-width:1190px) {
         width: 100%;
      }
   }
}

.swiper-slide__desc {
   -webkit-box-flex: 0;
   -ms-flex: 0 1 46.7%;
   flex: 0 1 46.7%;
   @include flex-column-block();
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   justify-content: center;

   @media (max-width:767.98px) {
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
   }

   .swiper-slide__heading {
      @include flex-column-block();

      @media (max-width:767.98px) {
         -webkit-box-align: center;
         -ms-flex-align: center;
         align-items: center;
         text-align: center;
      }

      h1,
      .swiper-slide__title {
         font-family: $font-f-secondary;
         font-style: normal;
         font-weight: 700;
         font-size: calc(36px + (110 - 36) * (100vw - 350px) / (1920 - 350));
         line-height: 134px;
         color: $text-title-color;

         @media (max-width:1190px) {
            line-height: 100%;
         }
      }

      .swiper-slide__line {
         margin: 26px 0px 26px 0px;
         width: 200px;
         height: 1px;
         background-color: #979797;
      }

      .swiper-slide__text {
         @include basic-text();
         margin: 0px 0px 20px 0px;

         @media (max-width:767.98px) {}
      }
   }
}

.swiper-pagination {}

.swiper-pagination-bullet {
   background: $text-title-color;
   width: 12px;
   height: 12px;
   border-radius: 50%;

   &:focus,
   &:hover {
      @include bgr-active();
   }
}

.swiper-pagination-bullet-active {
   @include bgr-active();
}

//=================Collection==================
.collection {
   padding-top: calc(40px + (153 - 40) * (100vw - 350px) / (1920 - 350));
}

.collection__body {
   @include flex-column-block();
}

.collection__heading {
   width: 38%;
   @include flex-column-block();
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   margin: 0px auto 24px auto;
   text-align: center;

   @media(max-width:1200px) {
      width: 65%;
   }

   @media(max-width:767.98px) {
      width: 90%;
   }

   h2,
   .collection__title {
      @include title-h2();
   }

   .collection__line {
      @include header-line();
   }

   p,
   .collection__text {
      @include basic-text();
   }
}

/* ==========Общие стили для "collection"( и для "about-collection" в about-page)====== */
.collection__cards {
   @include flex-row-block();
   -webkit-box-pack: justify;
   -ms-flex-pack: justify;
   justify-content: space-between;
   -webkit-column-gap: 29.5px;
   -moz-column-gap: 29.5px;
   column-gap: 29.5px;
   margin-bottom: calc(40px + (80 - 40) * (100vw - 350px) / (1920 - 350));

   @media(max-width:1200px) {
      -webkit-column-gap: 20px;
      -moz-column-gap: 20px;
      column-gap: 20px;
   }

   @media(max-width:991.98px) {
      gap: 10px;
   }

   @media(max-width:767.98px) {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      margin: 0px 0px 40px 0px;
      padding: 0px 10px 0px 10px;
   }

   @media(max-width:479.98px) {
      gap: 5px;
   }

   /* пока оставляю */
   /*   @media(max-width:479.98px) {
      @include flex-column-block();
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
   } */
}

.collection__card {}

.card-collection {
   -webkit-box-flex: 0;
   -ms-flex: 0 1 20%;
   flex: 0 1 20%;

   @media(max-width:991.98px) {
      -webkit-box-flex: 0;
      -ms-flex: 0 1 48.5%;
      flex: 0 1 48.5%;
   }
}

.card-collection__link {
   display: block;
   position: relative;
}

.card-collection__image {}

.card-collection__description {
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   opacity: 0;
   @include flex-column-block();
   @include jc-c__ai-c();
   text-align: center;
   //@include transition();

   &:focus,
   &:hover {
      padding: 7px;
      opacity: 1;
      background-color: #ffffff99;
   }

   h3,
   .card-collection__title {
      @include title-h3();
      font-size: 1.125rem;
      line-height: 120%; //24px

      @media(max-width:767.98px) {
         font-size: 0.875rem;
         line-height: 100%;
      }
   }

   .card-collection__line {
      width: 200px;
      height: 1px;
      margin: 19px 0px 19px 0px;
      background-color: #979797;

      @media(max-width:1200px) {
         width: 120px;
         margin: 10px 0px 10px 0px;
      }

      @media(max-width:767.98px) {
         width: 100px;
      }
   }

   p,
   .card-collection__text {
      @include secondary-text;

      @media(max-width:767.98px) {
         font-size: 0.75rem;
         line-height: 100%;
      }
   }
}

/* ========================================================== */
//=================CTA=====================

.cta {
   background: url('../img/index-page/background-cta.jpg') no-repeat;
   background-position: center;
   background-size: cover;
   //height: 720px;
   width: 100%;
   padding-top: calc(50px + (172 - 50) * (100vw - 350px) / (1920 - 350));
   padding-bottom: calc(50px + (156 - 50) * (100vw - 350px) / (1920 - 350));
}

.cta__body {
   @include flex-column-block();
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   justify-content: center;

   @media (max-width:1200px) {
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
   }
}

.cta__heading {
   @include flex-column-block();
   width: 64.6%;

   @media (max-width:1200px) {
      width: 100%;
      -webkit-box-align: center;
      text-align: center;
   }

   h2,
   .cta__title {
      width: 73.4%;
      font-family: $font-f-secondary;
      font-style: normal;
      font-weight: 700;
      font-size: calc(30px + (60 - 30) * (100vw - 350px) / (1920 - 350));
      line-height: 133%; //80px     
      color: $text-title-color;

      @media (max-width:1200px) {
         width: 100%;
      }
   }

   .cta__line {
      width: 200px;
      height: 1px;
      background-color: #979797;
      margin: 20px 0px 20px 0px;

      @media (max-width:1200px) {
         margin: 20px auto 20px auto;
      }
   }

   p,
   .cta__text {
      width: 73.4%;
      font-weight: 400;
      font-size: 1rem; //16px
      line-height: 175%; //28px
      color: $text-basic-color;

      @media (max-width:1200px) {
         width: 100%;
      }
   }
}

//==================Explanation==============
.explanation {
   padding-top: calc(40px + (80 - 40) * (100vw - 350px) / (1920 - 350));
}

.explanation__body {
   @include flex-column-block();

   h2,
   .explanation__title {
      margin: 0px 0px 33px 0px;
      text-align: center;
   }
}

.explanation__cards {
   @include flex-row-block();
   -ms-flex-wrap: wrap;
   flex-wrap: wrap;

   @media(max-width:767.98px) {
      @include flex-column-block();
   }
}

.explanation__card {}

.card-explanation {
   -webkit-box-flex: 0;
   -ms-flex: 0 1 49%;
   flex: 0 1 49%;
   @include flex-column-block();
   min-height: 200px;

   &:nth-child(1),
   &:nth-child(2) {
      //width: 50%;
      /* -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: start; */
      border-bottom: 1px solid $text-title-color;

      @media(max-width:767.98px) {
         width: 100%;
         min-height: auto;
         padding: 10px 0px 10px 0px;
         /*     -webkit-box-align: start;
         -ms-flex-align: start;
         align-items: start; */
      }
   }

   &:nth-child(3),
   &:nth-child(4) {
      //width: 50%;
      -webkit-box-align: end;
      -ms-flex-align: end;
      align-items: end;
      border-top: 1px solid $text-title-color;

      @media(max-width:767.98px) {
         width: 100%;
         min-height: auto;
         padding: 10px 0px 10px 0px;
         /*    -webkit-box-align: start;
         -ms-flex-align: start;
         align-items: start; */
         border-bottom: 1px solid $text-title-color;
         border-top: none;
      }
   }

   .card-explanation__description {
      height: 100%;
      @include flex-column-block();

      &:nth-child(1),
      &:nth-child(2) {
         width: 50%;
         -webkit-box-align: start;
         -ms-flex-align: start;
         align-items: start;

         @media(max-width:767.98px) {
            width: 100%;
         }
      }

      &:nth-child(3),
      &:nth-child(4) {
         width: 50%;
         -webkit-box-align: end;
         -ms-flex-align: end;
         align-items: end;

         @media(max-width:767.98px) {
            width: 100%;
         }
      }

      .card-explanation__header {
         @include flex-row-block();
         -webkit-box-align: center;
         -ms-flex-align: center;
         align-items: center;
         -webkit-column-gap: 10px;
         -moz-column-gap: 10px;
         column-gap: 10px;
         margin: 0px 0px 14px 0px;

         @media(max-width:767.98px) {
            -ms-flex-item-align: center;
            align-self: center;
         }

         .card-explanation__icon {
            width: 42px;
            height: 42px;
         }

         h3,
         .card-explanation__title {
            @include title-h3();
            font-size: 1rem;
            line-height: 144%; //23px     
            text-align: left;
         }
      }

      p,
      .card-explanation__text {
         @include basic-text();
         margin: 0px 0px auto 0px;

         @media(max-width:767.98px) {
            text-align: center;
         }
      }

      .card-explanation__separator {
         height: 20px;
         width: 2px;
         background-color: $text-title-color;

         @media(max-width:767.98px) {
            display: none;
         }
      }
   }
}

/* =================Gallery============ */
.gallery {
   padding-top: calc(40px + (110 - 40) * (100vw - 350px) / (1920 - 350));
   padding-bottom: calc(40px + (90 - 40) * (100vw - 350px) / (1920 - 350));

}

.gallery__body {
   @include flex-column-block();
}

.gallery__nav {
   margin: 0px 0px 40px 0px;
   -ms-flex-item-align: center;
   align-self: center;

}

.gallery__toggles {
   @include flex-row-block();
   -webkit-column-gap: 25px;
   -moz-column-gap: 25px;
   column-gap: 25px;
   height: 100%;

   @media (max-width:991.98px) {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      row-gap: 20px;
   }

   button {
      padding: 5px 16px 6px 16px;
      //opacity: 0.5;
      border: 1px solid #454647;
      border-radius: 20px;
      background-color: transparent;
      @include secondary-text();
      color: #8F8D8D;
      @include transition();

      &:focus,
      &:hover {
         @include bgr-active();
         opacity: 0.7;
         color: $text-title-color;
      }
   }
}

.gallery__cards {}

.gallery__cards--1 {
   display: grid;
   grid-template-columns: 43.5% 26% 26%;
   grid-template-rows: 1fr 1fr;
   gap: 30px;

   @media (max-width:1200px) {
      gap: 20px;
   }

   @media (max-width:991.98px) {
      grid-template-columns: 1fr 1fr;
      //grid-template-rows: repeat(3, 33%);
      grid-template-rows: repeat(3, 430px);
   }

   @media (max-width:575.98px) {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(5, 400px);
      gap: 10px;
      padding: 0px 10px 0px 10px;
   }

   @media (max-width:479.98px) {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(5, 350px);
   }
}

.gallery__card {}

.card-gallery {}

.card-gallery-1 {
   grid-column-start: 1;
   grid-column-end: 2;
   grid-row-start: 1;
   grid-row-end: 3;

   @media (max-width:991.98px) {
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 2;
      grid-row-end: 3;
   }

   @media (max-width:575.98px) {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 3;
      grid-row-end: 4;
   }
}

.card-gallery-2 {
   grid-column-start: 2;
   grid-column-end: 3;
   grid-row-start: 1;
   grid-row-end: 2;

   @media (max-width:991.98px) {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 1;
      grid-row-end: 2;
   }

   @media (max-width:575.98px) {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 1;
      grid-row-end: 2;
   }
}

.card-gallery-3 {
   grid-column-start: 3;
   grid-column-end: 4;
   grid-row-start: 1;
   grid-row-end: 2;

   @media (max-width:991.98px) {
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 1;
      grid-row-end: 2;
   }

   @media (max-width:575.98px) {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 2;
      grid-row-end: 3;
   }
}

.card-gallery-4 {
   grid-column-start: 2;
   grid-column-end: 3;
   grid-row-start: 2;
   grid-row-end: 3;

   @media (max-width:991.98px) {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 3;
      grid-row-end: 4;
   }

   @media (max-width:575.98px) {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 4;
      grid-row-end: 5;
   }
}

.card-gallery-5 {
   grid-column-start: 3;
   grid-column-end: 4;
   grid-row-start: 2;
   grid-row-end: 3;

   @media (max-width:991.98px) {
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 3;
      grid-row-end: 4;
   }

   @media (max-width:575.98px) {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 5;
      grid-row-end: 6;
   }
}

.card-gallery__image {
   width: 100%;
   height: 100%;

   img {
      width: 100%;
      height: 100%;
      -o-object-position: center;
      object-position: center;
   }
}

.living {}

.chair {}

.office {}

.dining {}

.bedroom {}

/* ====================Blog==================== */
.blog {
   //padding-top: calc(40px + (88 - 40) * (100vw - 350px) / (1920 - 350));
   padding-bottom: calc(40px + (66 - 40) * (100vw - 350px) / (1920 - 350));
}


.blog__body {
   @include flex-column-block();

   h2,
   .blog__title {
      @include title-h2();
      width: 38.7%;
      text-align: center;
      margin: 0px auto 29px auto;

      @media (max-width:767.98px) {
         width: 60%;
      }

      @media (max-width:479.98px) {
         width: 80%;
      }
   }
}

.blog__cards {
   @include flex-row-block();
   -webkit-box-pack: justify;
   -ms-flex-pack: justify;
   justify-content: space-between;

   @media (max-width:767.98px) {
      @include flex-column-block();
      row-gap: 20px;
   }
}

.blog__card {}

.post {
   -webkit-box-flex: 0;
   -ms-flex: 0 1 48.7%;
   flex: 0 1 48.7%;
   @include flex-column-block();
   row-gap: 20px;
}

.post__image {}

.post__description {
   min-height: 180px;
   background-color: #ffffff;
   @include flex-column-block();
   -webkit-box-pack: justify;
   -ms-flex-pack: justify;
   justify-content: space-between;

   .post__header {
      @include flex-row-block();
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      @include secondary-text();
      margin: 0px 0px 7px 0px;

      time,
      .post__date,
      p,
      .post__mame,
      .post__topic {
         @include secondary-text();
      }

      span {
         display: block;
         height: 10px;
         width: 2px;
         margin: 9px 5px 0px 5px;
         background-color: $text-secondary-color;
      }
   }

   h3,
   .post__title {
      @include title-h3();
      font-size: 1.5rem;
      line-height: 158%; //38px    
   }

   a,
   .post__btn {
      width: 120px;
      margin-top: auto;
      padding: 2px 0px 2px 0px;
      border-radius: 15px;
      background-color: #dfdfdf;
      @include secondary-text();
      text-align: center;
      @include transition();

      @media (max-width:575.98px) {
         padding: 0px 0px 0px 0px;
      }

      &:focus,
      &:hover {
         @include bgr-active;
         opacity: 0.7;
         color: $text-title-color;
      }
   }

   p.post__text {
      @include basic-text();
      margin: 6px 0px 10px 0px;
   }
}